@import url("https://fast.fonts.net/cssapi/401a279a-dbd2-44ae-ba21-6b71d85f4a9c.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import "./fonts.scss";
@import "../../node_modules/tachyons-sass/tachyons.scss";

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Graphik", sans-serif;
    height: 100%;
    width: 100%;
    font-size: 18px;
    line-height: 1.6;
    background-color: #212121;
    color: #999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.snippets {
    display: flex;
    margin-top: 24px;

    .snippet + .snippet {
        margin-left: 24px;
    }
}

.snippet {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    small {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        width: 100%;

        a {
            opacity: .4;
        }
    }
}

small {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    code {
        margin-left: 10px;
    }
}

code {
    font-family: "Roboto Mono", sans-serif;
    font-size: 14px;
    background-color: #1a1a1a;
    padding: 16px 20px;
    border-radius: 4px;

    .white {
        color: #fff;
    }

    .gray {
        color: #999;
    }

    .yellow, .hljs-name, .hljs-keyword {
        color: #ffc866;
    }

    .green, .hljs-string {
        color: #a4dd5b;
    }

    .orange, .hljs-attr {
        color: #e48d26;
    }

    &.tiny {
        background-color: #393939;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
        padding: 0 6px;
        color: #fff;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 24px 48px 24px;
    z-index: 220;
    background: linear-gradient(to bottom, #212121, rgba(#212121, 0));

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

section.desc {
    .snippet {
        width: 100%;

        pre {
            display: flex;
            width: 100%;
            word-wrap: break-word;
            margin: 0;
        }

        code {
            width: 100%;
        }
    }

    h2 + p {
        margin-top: 8px;
    }

    p + .snippet {
        margin-top: 16px;
    }

    p + h3 {
        margin: 24px 0 8px 0;
    }

    .snippet + h3 {
        margin: 24px 0 8px 0;
    }

    .snippet + p {
        margin: 16px 0 0 0;
    }

    .snippet + .snippet {
        margin-top: 16px; 
    }
}

.options {
    display: flex;
    
    .button {
        top: -3px;
    }

    a {
        font-size: 14px;
        font-weight: 500;

        + a {
            margin-left: 24px;
        }

        + .button {
            margin-left: 24px;
        }
    }
}

footer {
    position: relative;
    background-color: #212121;
    width: 100%;
    padding: 24px;
    margin: 16px 0 24px 0;

    p {
        font-size: 14px;
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

main {
    padding: 144px 0 96px 0;

    h1 {
        font-size: 54px;
    }

    p.large {
        font-size: 24px;
    }
}

.info {
    padding: 144px 0 48px 0;
}

a {
    color: #ccc;
    cursor: default;
    text-decoration: none;

    &:hover {
        color: #fff;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;

    .button + .button {
        margin-left: 24px;
    }
}

.more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    .split {
        height: 20px;
        width: 1px;
        background-color: #393939;
        content: ' ';
        margin: 12px 0;
    }

    a {
        font-size: 14px;
        line-height: 1;
    }
}

.button {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.2px;
    padding: 14px 24px;
    color: #212121;
    background-color: #17EF95;
    border-radius: 4px;
    width: fit-content;
    width: -moz-fit-content;
    cursor: default;
    line-height: 1.2;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.4), inset 0 -2px 1px 0 rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;

    > fig-icon {
        margin-left: 6px;
    }

    &.grey {
        color: #ccc;
        background-color: #393939;
    }

    &.small {
        padding: 8px 12px;
        font-size: 11px;
        letter-spacing: 1px;
        box-shadow: none;
    }
}

h1 {
    font-size: 44px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.3;
    margin: 0;
    color: #fff;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin: 0;
    color: #fff;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    margin: 0;
    color: #fff; 
}

p {
    margin: 0;
    padding: 0;
}

section + section {
    margin-top: 64px;
}

.svgs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    color: #fff;
    margin-top: 24px;

    .svg {
        background-color: #1a1a1a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        height: 48px;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            color: #fff;
            height: 100%;
            border-radius: 4px 0 0 4px;
        }

        .desc {
            border-left: 2px solid #212121;
            color: #fff;
            flex-grow: 1;
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 0 4px 4px 0;
            padding-left: 16px;
            font-weight: 300;
            font-size: 14px;
        }
    }
}
