@import "./fonts.scss";
@import "../../node_modules/tachyons-sass/tachyons.scss";

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Graphik", sans-serif;
    height: 100%;
    width: 100%;
    font-size: 18px;
    line-height: 1.6;
    background-color: #fff;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: 400;
}
p {
    margin: 0;
    padding: 0;
}

.svgs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    .svg {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.12), 0 1px 0 rgba(0,0,0,.08);
        height: 48px;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            background-color: #fff;
            color: #000;
            height: 100%;
            border-radius: 8px 0 0 8px;
        }

        .desc {
            border-left: 1px solid #efefef;
            color: #000;
            flex-grow: 1;
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 0 8px 8px 0;
            padding-left: 16px;
            font-weight: 300;
            font-size: 14px;
        }
    }
}
